/*-------------- awards -----------------*/
.awards{
	min-height: 1355px;
	background: url('../img/bg-screen4.jpg') no-repeat top center;
	overflow: hidden;
	padding: 245px 0 200px;
	position: relative;

	&__content{position: relative;}

	&__content::before{
		content: '';
		display: inline-block;
		width: 342px;
		height: 275px;
		background: url(../img/box-dark.png) no-repeat center;
		background-size: contain;
		position: absolute;
		left: -195px;
		bottom: 134px;
	}

	&__content::after{
		content: '';
		display: inline-block;
		width: 425px;
		height: 395px;
		background: url(../img/box.png) no-repeat center;
		background-size: contain;
		position: absolute;
		right: -293px;
		top: 308px;
	}
	
	&__top{
		display: flex;
		margin-bottom: 75px;
	}

	&__top .spec-head{width: calc(50% - 15px);}

	&__text{
		width: calc(40% - 15px);
		padding-top: 6px;
	}

	&__top .spec-head{margin-right: 30px;}

	&__text{
		@include font(normal, 300, rem(24px), 1.5, #fff);
	}

	&__desc{
		max-width: 570px;
		@include font(normal, 300, rem(18px), 1.78, #ccc);
		margin: 26px auto 0;
		text-align: center;

		p:last-child{margin-bottom: 0;}
	}

	&__btn{
		display: inline-block;
		vertical-align: top;
		margin-top: 45px;
		position: relative;
	}

	&__btn::before{
		content: '';
		display: inline-block;
		width: 264px;
		height: 153px;
		background: url(../img/sparks-small.png) no-repeat center;
		background-size: contain;
		position: absolute;
		bottom: calc(100% - 35px);
		left: 50%;
		transform: translateX(-50%);
	}

	&__btn::after{
		content: '';
		display: inline-block;
		width: 147px;
		height: 114px;
		background: url(../img/bullet-small.png) no-repeat center;
		background-size: contain;
		position: absolute;
		top: 25px;
		right: -53px;
		z-index: 2;
	}

	
	.scroll-down{bottom: 120px;}
}

.awards-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	max-width: 780px;
	margin: 0 auto;

	&__item{
		width: 160px;
		text-align: center;
		padding: 0 10px 72px;
		margin: 0 15px 30px;
		background: url(../img/border.png) no-repeat bottom center;
	}

	&__item:nth-child(even){padding-top: 30px;}

	&__text{
		@include font(normal, bold, rem(22px), 1.2, #fff);
	}

	&__img{margin: 0 -15px -20px;}
}