/*-------------- slider-tanks -----------------*/
@keyframes bounceInLeft {
	from,
	60%,
	75%,
	90%,
	to {
	  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
  
	0% {
	  opacity: 0;
	  transform: translate3d(-3000px, 0, 0) scaleX(3);
	}
  
	60% {
	  opacity: 1;
	  transform: translate3d(25px, 0, 0) scaleX(1);
	}
  
	75% {
	  transform: translate3d(-10px, 0, 0) scaleX(0.98);
	}
  
	90% {
	  transform: translate3d(5px, 0, 0) scaleX(0.995);
	}
  
	to {
	  transform: translate3d(0, 0, 0);
	}
}

.slider-tanks{
	&__item{position: relative;}

	&__type{
		@include font(normal, bold, rem(18px), 1.2, #000);
		margin-bottom: 15px;
	}

	&__name{
		@include font(normal, 900, rem(40px), 1.2, #000);
	}

	&__info{
		width: 50%;
		padding-left: 10%;
		padding-top: 95px;
		position: absolute;
		top: 0;
		right: 0;
		opacity: 0;
		transition: all 0.5s ease 0.5s;
	}

	.slick-arrow{
		position: absolute;
		top: calc(50% + 35px);
		transform: translateY(-50%);
		cursor: pointer;
		z-index: 10;

		.icon{
			fill: #000;
			transition: all 0.2s ease 0s;
		}
	}

	.slick-prev{right: calc(50% - 480px);}
	.slick-next{right: calc(50% - 585px);}

	.slick-arrow:hover .icon{fill: #ff4400;}

	.slick-track{display: flex;}
	.slick-slide{height: auto;}

	.slick-slide > div,
	&__item,
	&__img{
		height: 100%;
	}

	&__img{
		display: flex;
		align-items: center;
	}

	.slick-active &__img img{
		animation: bounceInLeft 1s ease-in-out;
		animation-fill-mode: forwards;
	}

	.slick-active &__info{opacity: 1;}
}