extends ../layout/main

block variables
	- var title = 'Главная';

block content
	section.main
		.st-width
			.main__content
				.main__info
					.main__top
						.main__logo
							img(src="assets/img/logo.png", alt="")

						.lang.js-lang
							.lang__main.js-lang-main
								.lang__icon
									img(src="assets/img/lang-ru.png", alt="").js-lang-img
								.lang__text.js-lang-text Ru

								.lang__arr
									+svg('ic-arrow-down','ic-arrow-down', '10', '6')

							.lang__popup.js-lang-popup
								-
									var list=[
										{img:'lang-en.png', text:'En'},
										{img:'lang-de.png', text:'De'},
										{img:'lang-fr.png', text:'Fr'},
										{img:'lang-ru.png', text:'Ru', status:'active'},
										{img:'lang-pl.png', text:'Pl'},
									]

								each item in list
									.lang__item.js-lang-item(class=item.status?'active':'')
										.lang__icon
											img(src="assets/img/"+item.img, alt="").js-lang-img
										.lang__text.js-lang-text= item.text

					.spec-head
						span.spec-head__accent Врывайся в сражение 
						| на самых современных танках

					.main__btn
						a.btn(href='#')
							span.btn__content Играй бесплатно


				.bookmark
					.bookmark__content
						.bookmark__title Начни играть
						.bookmark__text и получи бесплатный набор с танком <span class="bookmark__text-accent">Type 59-IIA Legend</span> и&nbsp<span class="bookmark__text-accent">7&nbsp;днями премиум-статуса</span> прямо на свой игровой аккаунт
						.bookmark__img
							img(src="assets/img/tank-seven.png", alt="")


			.scroll-down
				img(src="assets/img/scroll-down.png", alt="")
	
	section.about
		.st-width
			.about__content
				.about__update Обновление 0.34

				.about__title Апокалипсис
			
				.about__text-wrap
					.about__info
						.about__text <b>Обновление уже в игре!</b> Сразитесь с врагом на осколках разрушенной цивилизации.

						a.btn-border(href='#')
							span.btn-border__content Играть
						
					.about__desc Летом 2044 года началась катастрофа чудовищных масштабов: массовые извержения вулканов и землетрясения за несколько часов стерли с лица земли большинство современных цивилизаций и поставили под угрозу само существование человечества.
	
	section.tanks
		.st-width
			.tanks__content
				.tanks__top
					.tanks__logo
						img(src="assets/img/logo-echo.png", alt="")

					.tanks__text Получите <b>5 премиумных</b> российских боевых машин, <b>облики</b>, <b>золото</b> и многое другое!
				
				.slider-tanks.js-slider-tanks
					-
						var list=[
							{img:'tank1.png', type:'Зенитная установка', name:'Kurganets-25'},
							{img:'tank2.png', type:'Танк 2', name:'Танк 2'},
							{img:'tank3.png', type:'Танк 3', name:'Танк 3'},
							{img:'tank4.png', type:'Танк 4', name:'Танк 4'},
							{img:'tank5.png', type:'Танк 5', name:'Танк 5'},
						]

					each item in list
						.slider-tanks__item
							.slider-tanks__img
								img(src="assets/img/"+item.img, alt="")

							.slider-tanks__info
								.slider-tanks__type= item.type
								.slider-tanks__name= item.name