.footer{
	padding: 47px 0 125px;
	background: url(../img/bg-tank.png) no-repeat 10% bottom;
	text-align: center;

	&__text{
		max-width: 430px;
		@include font(normal, normal, rem(14px), 1.85, #757575);
		margin: 0 auto 50px;
	}

	.btn{min-width: 370px;}

	&__age{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		vertical-align: top;
		width: 68px;
		height: 80px;
		padding: 5px;
		background: url(../img/bg-age.png) no-repeat center;
		background-size: contain;
		@include font(normal, 900, rem(24px), 1, #000);
	}

	.partner{margin: 72px 0 63px;}
}

.partner{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	&__item{margin: 15px 38px;}
}